.pet_container{
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid black;
    
    width: 100%;
    min-width: 200px;
    min-height: 110px;
    max-height: 180px;
    height: 100%;

    column-gap: 10px;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%; // 비율 100%로 세로 높이를 맞춰줌

    place-items: center;
    padding: 10px;

    text-align: left;

    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: #FFA6A6; /* 호버 효과에 따른 배경색 변경 */
        color: #C8FFFF;
    }

    // * ---- 애니메이션 ------- //
    opacity : 0;
    position: relative;

    animation: petComponent 1s running forwards; // 이름 / 유지시간 / 실행/ 애니메이션 끝난뒤 계속 유지

    /* 키프레임 이름 = 애니메이션 이름 */
    @keyframes petComponent {
        0% {
            
            opacity : 0; // 에니메이션 투명하게
            top:-40px;
            // left:100%;
            // left: -100px;
        }
        100% {
            top:0px;
            // left:0px;
            
            opacity: 1; // 애니메이션 선명하게
            // left: 0px;
            
        }
    }
    // * --------------------- //

    cursor: pointer;
    // 이미지 부분 
    >div:nth-child(1){
        // background-color: #FFB0B0;
        border-radius: 100%;
        height: 80%;
        box-sizing: border-box;
        // 이미지 
        >img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        // padding: 10px;
    }

    // 각 설명 글씨 컨테이너 (종, 이름, 등)
    >div:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        list-style: none; // *스타일을 없애준다. (점을 없앰)
        // 각각 li 부분에 별을 넣어준다.
        >li::before{
            box-sizing: border-box;
            content: "⭐ ";
            padding-left: 10px; // 왼쪽에 조금 옮겨줌

        }
    }
}


