@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Poor+Story&display=swap');
// 프리텐다느
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/*
font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
*/


.screen{
    box-sizing: border-box;
    margin: 0px;
    max-width: 100vw;
    height: calc(var(--vh,1vh)*100); // var() : Css변수를 가져오고, 값이 없을경우 기본값으로 1vh를 사용.
    
    min-width: 375px;
    min-height: 812px;
    font-family: "Poor Story", system-ui;
    // font-family: "Pretendard Variable",Pretendard;
    position: relative;
    // 가운대 정렬
    display: flex;
    justify-content: center; // 가로 = 가운대정렬


}